@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css or your main CSS file */
/* .heading {
  @apply 
  underline
  decoration-[#30D6F3]
  text-white 
  text-3xl 
  md:text-5xl 
  mb-6 
  font-medium
  italic 
  mt-10;
} */

body {
  font-family: serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: #070707;
}

