@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Playwrite+VN:wght@100..400&display=swap');
/* Add these styles in your global CSS or component-level styles */



@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css or your main CSS file */
/* .heading {
  @apply 
  underline
  decoration-[#30D6F3]
  text-white 
  text-3xl 
  md:text-5xl 
  mb-6 
  font-medium
  italic 
  mt-10;
} */

body {
  font-family: serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: #070707;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

